@import "https://2ndwatch.sharepoint.com/Style%20Library/webscripts/confluence/css/Atlassian_Resetmin.css";

/* BEGIN 2W STYLES */

/* General HTML element styling */
hr {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   width: 70%;
   text-align: center;
}

/* General list styling */
ul, ol {
   padding-bottom: 2px;
   width: 100%;
}


/* Basic unordered list style */
ul {
   list-style-type: disc;
}

ul ul {
   list-style-type: circle;
}

ul ul ul {
	list-style-type: square;
}


/* First text block on page or section; ex. Overview */
.opener {
   padding-top: 1rem;
   padding-bottom: .5rem;
}

/* Padding between headers, but NOT the page heading */
.notPAGEHEAD {
   padding-top: 1rem;
   padding-bottom: 0.75rem;
}


/* BEGIN new topic header style */
.topicHead {
   width: 75%;
}

/* Indented lines */
/* Can be used with OPENER class if no heading above it */

.firstline {
	text-indent: 2em; /* possible values are positive, negative, or a percentage */ 
}

/* For quick notes inset. Adjust inline, as appropriate. */

.tips {
   width: 75%;
}

.heading1 {
   position: relative;
   border-bottom: 1px solid black;
   border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* Blue boxes for full page call-outs like NOTES at H1 or higher level */
.notesFULL {
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   background-color: #d7ecf4;
   background-position: 9px 0px;
   background-repeat: no-repeat;
   border: solid 1px #45abd3;
   border-radius: 6px;
   line-height: 18px;
   overflow: hidden;
   padding: 15px 50px;
   font-style: italic;
   font-size: 1rem;
}

.notesFULL a:link {
   color: #45abd3;
}

.notesFULL a:visited {
   color: #2b82a1;
}

.notesFULL a:hover,
.notesFULL a:active {
   text-decoration: underline;
}


/* Blue boxes for multiple columns of information; responsive and size to each other, adjust as needed */
.notesFLEX {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   overflow: hidden;
}
 
.notesFLEX .col {
   flex: 1;
   background-color: #d7ecf4;
   background-position: 9px 0px;
   background-repeat: no-repeat;
   border: solid 1px #45abd3;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   line-height: 18px;
   padding: 15px 40px;
   margin-right: 20px;
}

.notesFLEX a:link {
   color: #45abd3;
}

.notesFLEX a:visited {
   color: #2b82a1;
}

.notesFLEX a:hover,
.notesFLEX a:active {
   text-decoration: underline;
}


/* Blue box for shorter call-outs like tips and extra info */
.notesSHORT {
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   background-color: #d7ecf4;
   background-position: 9px 0px;
   background-repeat: no-repeat;
   border: solid 1px #45abd3;
   border-radius: 6px;
   line-height: 18px;
   overflow: hidden;
   padding: 15px 30px;
   font-style: italic;
   font-size: -1rem;
   width: 75%;
   display: flex;
}

.notesSHORT a:link {
   color: #45abd3;
}

.notesSHORT a:visited {
   color: #2b82a1;
}

.notesSHORT a:hover,
.notesSHORT a:active {
   text-decoration: underline;
}


/* Responsive 2-column tables; adjust for size of columns */
.tableINSIDE2 {
   table-layout: fixed;
   width: 90%;
   padding-left: 5%;
   margin-top: 2rem;
   margin-bottom: 2rem;
   overflow-x: auto;
}

.tableINSIDE2 th {
   width: 40%;
}

.tableINSIDE2 th:nth-child(2) {
   width: 60%;
}


/* Responsive 3-column tables; adjust for size of columns */
.tableINSIDE3 {
   table-layout: fixed;
   width: 90%;
   padding-left: 5%;
   margin-top: 2rem;
   margin-bottom: 2rem;
   overflow-x: auto;
}

.tableINSIDE3 th {
   width: 60%;
}

.tableINSIDE3 th:nth-child(2) {
   width: 10%;
}

.tableINSIDE3 th:nth-child(3) {
   width: 30%;
}




/* STYLE Confluence Elements */

/* Confluence Info Boxes, class="confluence-information-macro-body" */

div.confluence-information-macro-body ul {
	list-style-type: disc;
} 

div.confluence-information-macro-body ul ul {
	list-style-type: circle;
}

div.confluence-information-macro-body ul ul ul {
	list-style-type: square;
}

/* Other Info boxes by specific classes -> confluence-information-macro-warning, confluence-information-macro-tip, and confluence-information-macro-note */




/* END 2W STYLES */